In [3]:
import pymysql
db = pymysql.connect("localhost","root","root","scrapy_ip" )
print(db)
cursor = db.cursor() # 使用 cursor() 方法创建一个游标对象 cursor
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
print("数据库版本: %s" % data)
# 关闭数据库链接
db.close()

<pymysql.connections.Connection object at 0x04249CF0>
数据库版本: 5.5.53

In [12]:
import pymysql
db = pymysql.connect("localhost","root","root","scrapy_ip" )
print(db)
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 
# 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
 
cursor.execute(sql)
 
# 关闭数据库连接
db.close()

<pymysql.connections.Connection object at 0x042B6470>

In [14]:
import pymysql
db = pymysql.connect("localhost","root","root","scrapy_ip" )
cursor = db.cursor()
# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
    # 执行sql语句
    cursor.execute(sql)
    # 提交到数据库执行
    db.commit()
except:
    db.rollback()
db.close()

In [23]:
# 数据库查询
# fetchone(): 该方法获取下一个查询结果集。结果集是一个对象
# fetchall(): 接收全部的返回结果行.
# rowcount: 这是一个只读属性，并返回执行execute()方法后影响的行数。

import pymysql
db = pymysql.connect("localhost","root","root","scrapy_ip" )
cursor = db.cursor()
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > %s" % (1000)

try:
    cursor.execute(sql)
    # 获取所有的记录列表
    # result = cursor.fetchall()
    print(cursor.fetchone())
#     for row in result:
#         fname = row[0]
#         lname = row[1]
#         age = row[2]
#         sex = row[3]
#         income = row[4]
#         print("fname=%s,lname=%s,age=%s,sex=%s,income=%s" % (fname,lname,age,sex,income))
except:
    print("查询错误")

    
db.close()

('Mac', 'Mohan', 20, 'M', 2000.0)

In [25]:
# 更行数据
import pymysql
db = pymysql.connect("localhost","root","root","scrapy_ip" )
cursor = db.cursor()
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()
db.close()

In [31]:
# 获取插入数据的ID
import pymysql
db = pymysql.connect("localhost","root","root","scrapy_ip" )
cursor = db.cursor()
sql = """
INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME, AGE, SEX, INCOME)
         VALUES (%s,%s,%s,%s,%s)
"""
data = ['Mac','Pro',18,'D',3000]
try:
    cursor.execute(sql, data)
    db.commit()
    last_id = cursor.lastrowid
    print(last_id)
except Exception as e:
    print(e)
    db.rollback()

0